body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Header Styles */

header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: black;
  color: white;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 100px;
}

nav {
  justify-self: flex-end;
}

.navbar {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: inline-block;
  padding: 0 1em;
  font-size: 1.5rem;
}


/* Aside */



/* Main Styles */

h1 {
  font-size: 1.7em;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 1.5em;
  margin-top: 3em;
  font-weight: 700;
  
}

.container {
  max-width: 1028px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2em;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  
}

label {
  display: block;
}

input,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 10px;
}

.user-form {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 10px;
  padding: 1.5em 2em;
  align-items: center;
  line-height: 1.5;
}

.user-form .btn {
  margin-top: 1.6em;
}

.tarrifs {
  background-color: #D82148;
  padding: 0 20px;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 2em;
  background-color: black;
  opacity: 70%;
  color: white;

  margin-top: 130px;
}





@media only screen and (max-device-width: 500px) {

  header {
    grid-template-columns: 1fr;
    justify-items: center;
  }



  nav {
    justify-self: center;

  }

  .navbar li {
    list-style: none;
    display: block;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5em;
    text-align: center;
  }


  .container {
    margin: 20px auto;
    grid-template-columns: 1fr;
    width: 90%;
    
  }

  .user-form {
    grid-template-columns: 1fr;
    align-items: center;
  }

}