/* Utility*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}


h1  {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}



p {
  margin: 10px 0;
}

img {
  width: 100%;
}



/* Button Styles */

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary,
.bg-primary {
  color: #fff;
  background-color: #28a745;
}

.btn-secondary,
.bg-secondary {
  background-color: #0284d0;
  color: #fff;
}

.btn-dark,
.bg-dark {
  background-color: #333;
  color: #fff;
}

.btn-light,
.bg-light {
  background-color: #f4f4f4;
  color: #333;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}


/* Header Styles */



.logo img {
  width: 100px;
  height: 70px;
}



.hero .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 5px 0;
}

.navbar ul {
  display: flex;
  flex-direction: row;

}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}


.hero {
  display: flex;
  flex-direction: column;
  background-color: #021427;
  height: 90vh;
  width: 100%;
  color: #fff;
}

 .hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #041e38;
}

.hero .content h1 {
  margin-bottom: 50px;
  max-width: 600px;
}

.hero .content p {
  max-width: 600px;
  margin-bottom: 50px;
  opacity: 0.8;
}

.hero .content a {
  margin: 10px;
}

.hero nav a {
  margin: 0 10px;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.flex-columns .column-left {
  flex: 1;
}

.flex-columns .column-right {
  flex: 2;
}




.flex-columns img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.mobile-tarrif form {
  display: flex;
  align-items: center;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;

}

.mobile-tarrif form div {
  flex: 1;
  margin: 5px;

}



input,
select {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 10px;
}

.tarrifs {
  border-left: 2px solid #333;
  padding-left: 20px;
}

.section-header {
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

.tarrif-sheets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.tarrif-sheets a {
  color: #28a745;
  padding: 3px 5px;
  margin: 5px 5px;
  /* font-weight: bold; */
  border: 1px solid #333;
  border-radius: 5px;

}


.bank-tarrif .row {
  flex-direction: row-reverse;
}

.bank-tarrif form {
  display: flex;
  align-items: center;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;

}

.bank-tarrif form div {
  flex: 1;
  margin: 5px;

}


section {
 
  padding: 0 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #333;
  color: #f4f4f4;
}

.footer a {
  padding: 0 20px;
}



/* Media Queries */

@media(max-width: 768px) {
  /* anything below 768 */

  .hero .content nav {
    display: flex;
    flex-direction: column;
  }

   .hero .content h1{
     font-size: 2.3rem;
   }

  .hero .content p,
  .hero .content h1 {
    margin-bottom: 20px;
  }

  


  form {
    flex-direction: column;

  }

  .flex-columns .row {
    flex-direction: column;
  }

  .tarrifs {
    border-left: none;
    padding-left: none;
  }



  
}
