
header.tables {
  background-color: #021427;
}

header.tables .navbar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   color: #fff;
   padding: 5px 0;
   
}



.table-content {
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 400px;
   
}

.table-content h1 {
  margin-top: 40px;
  font-size: 1em;
  padding: 15px 0;
}

.mpesa.span {
  background-color: red;
  color: #fff;
  padding: 3px 4px;
}

.tigopesa.span {
  background-color: blue;
  color: #fff;
  padding: 3px 4px;
}

.halopesa.span {
  background-color: orangered;
  color: #fff;
  padding: 3px 4px;
}

.azampesa.span {
  background-color: rgb(53, 169, 207);
  color: #fff;
  padding: 3px 4px;
}

.eazypesa.span {
  background-color: rgb(71, 194, 71);
  color: #fff;
  padding: 3px 4px;
}

.tariff-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  margin: auto;
  border-bottom: 2px solid #f3f3f3;
}

.tariff-table thead tr {
  background-color:#041e38;
  color: #fff;
  font-weight: bold;

}

.left-text {
  text-align: left;
}

.tariff-table th,
.tariff-table td {
  padding: 12px 15px;
  border: 1px solid #fff;
  text-align: center;
}

.tariff-table tbody tr {
  border-bottom: 1px solid #f3f3f3;
}

.tariff-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}